

#about-top{
    padding-top: 40px;
    padding-left: 24px;
    padding-right: 24px;
    @include md{
        padding-top: 260px;
    }

    #about-image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
        border-radius: 6px;
        max-width: 100%; 
        height: auto;

        // @include md{
        //     width: 25%;
        // }
        
    }
}
#about-middle{
    padding-left: 24px;
    padding-right: 24px;
}

// #about-me{
//     display: grid;
//     grid-template-columns: 20% auto;
//     grid-template-areas: 
//     "about-top about-middle";
// }

// #about-image{
//     float: left;
//     width: 100%;
//   height: auto;
//   border-radius: 50%;
// }



#spotify{
    padding-left: 24px;
    padding-right: 24px;
}

#playlist{
    display: grid;
    grid-template-columns: auto 40% auto;
    align-items: center;
}

#goodreads{
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
}