

#about-me-container{
    padding: 24px 16px;
    padding-top: 62px;
    display: grid;
    gap: 16px;
    grid-template-columns: 100%;
    grid-template-rows: auto;

    grid-template-areas: 
        "about-image about-image"
        "about-text about-text";

    @include md{
        padding-top: 180px;
        grid-template-areas: "about-image about-text";
        grid-template-columns: 30% auto;
        grid-template-rows: auto;
    }

    #about-image{
        grid-area: about-image;
        background-image: url(../img/gallery/selfie.jpg);
        background-size: cover;
        background-position: center;
        width: 100%;
        max-height: 100%;
        object-fit: contain;
        border-radius: 100%;
        height: 40vh;
        align-items: center;
        margin-right: auto;

        @include md{
            background-size: contain;
            background-position: center;
        }
    }

    #about-text{
        // padding: 24px;
        align-items: center;
    }
}

// #spotify{
//     padding-left: 24px;
//     padding-right: 24px;
// }

#playlist{
    display: grid;
    grid-template-columns: 5% auto 5%;
    grid-template-areas: ". playlist .";
}


#image-gallery{
    padding: 14px 16px;
    display: grid;
    gap: 16px;
    padding-bottom: 80px;

    grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 20vh 20vh;

        grid-template-areas: 
        "p1 p2 p3 p4"
        "p5 p6 p7 p8";

    // grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: 15vh;

    // grid-template-areas: 
    // "p1 p2"
    // "p3 p4"
    // "p5 p6"
    // "p7 g8";

    // @include md{
    //     grid-template-columns: repeat(4, fr);
    //     grid-template-rows: 50vh 50vh;

    //     grid-template-areas: 
    //     "p1 p2 p3 p4"
    //     "p5 p6 p7 p8";
    // }

    @include md{
        margin-bottom: 44px;
        padding-bottom: 80px;
    }

    li{
        background-size: cover;
        background-position: center;
    }

    #p1{
        grid-area: p1;
        background-image: url("../img/gallery/grad.JPG");
    }

    #p2{
        grid-area: p2;
        background-image: url("../img/gallery/sisters.jpg");
    }

    #p3{
        grid-area: p3;
        background-image: url("../img/gallery/millie.JPEG");
        object-fit: contain;
        background-size: cover;
    }

    #p4{
        grid-area: p4;
        background-image: url("../img/gallery/xmas.jpg"); 
    }

    #p5{
        grid-area: p5;
        background-image: url("../img/gallery/river.jpg"); 
    }

    #p6{
        grid-area: p6;
        background-image: url("../img/gallery/sake.jpg"); 
    }

    #p7{
        grid-area: p7;
        background-image: url("../img/gallery/lobster.jpg"); 
    }

    #p8{
        grid-area: p8;
        background-image: url("../img/IMG_2283.jpg"); 
    }
}


// #playlist{
//     display: grid;
//     grid-template-columns: auto 40% auto;
//     align-items: center;
// }


// #goodreads{
//     display: flex;
//     padding-left: 24px;
//     padding-right: 24px;
// }