#association-top{
    padding-top: 40px;
    padding-left: 10vw;
    padding-right: 10vw;
    @include md{
        padding-top: 150px;
        padding-bottom: 100px;
    }
}

.association-name{
    &:hover{
        // background-color: var(--forestGreen);
        color: var(--forestGreen);
    }
}

.association-desc{
    padding-left: 2px;
    padding-right: 2px;
    text-align: left;

    @include md{
        padding-right: 120px;
    }
}

h2{
    &:hover{
        // background-color: var(--forestGreen);
        color: var(--forestGreen);
    }
}