#contact{
    padding-top: 40px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 10px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    @include md{
        padding-top: 180px;
    }
}

#contact-form{
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: var(--forestGreen);
    padding: 32px 16px;
    form{
        display: grid;
        gap: 16px;
        grid-template-rows: 90px 90px 200px 90px;

        @include md{
            padding: 0 10vw;
            grid-template-columns: 50% auto;
            grid-template-rows: 8vh 16vh auto;
            grid-template-areas: 
            "contact-name contact-email"
            "contact-message contact-message"
            ". send-button";
        }

        div{
            background-color: var(--white);
            display: flex;
            align-items: flex-end;

            input{
                width: 100%;
                padding-bottom: 5px;
                padding-left: 8px;
                box-sizing: border-box;
                border: none;
            }

            textarea{
                padding-top: 8px;
                padding-left: 8px;
                height: 100%;
                width: 100%;
                box-sizing: border-box;
                border: none;
            }

            ::placeholder{
                color: var(--forestGreen);
                opacity: 1;
            }

            ::ms-input-placeholder{
                color: var(--forestGreen);
            }
        }

        #contact-name{
            width: 100%;
            grid-area: contact-name;
            @include md{
                grid-area: contact-name;
            }
        }

        #contact-email{
            border: none;
            width: 100%;
            grid-area: contact-email;
            @include md{
                grid-area: contact-email;
            }
        }

        #contact-message{
            border: none;
            width: 100%;
            align-items: flex-start;
            grid-area: contact-message;
            @include md{
                grid-area: contact-message;
            }
        }

        #send-button{
            align-items: flex-start;
            justify-content: flex-end;
            background-color: transparent;
            // border: none;
            // border-radius: 6px;
            // font-size: rem-calc(4);
            // grid-area: send-button;
            @include md{
                grid-area: send-button;
            }
    }
}
}

#contact-form{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    form {
        width: 50%;
    }
    @include md{
        display: flex;
    }
}