#hero{
    background-image: url("../img/booktop-hero.png");
    height: 50vh;
    background-size: cover;
    background-position: center;
    // not sure i need margin top yet, will push the image down so its more centralized, depends on what i decide to use for hero image
    margin-top: 60px;

    @include md{
        height: 60vh;
    }

    @include lg{
        height: 70vh;
    }

    @include xl{
        height: 100vh;
    }
}
