#hero-image{
    background-image: url("../img/newer-hero.jpeg");
    height: 26vh;
    background-size: contain;
    background-position: center;
    // not sure i need margin top yet, will push the image down so its more centralized, depends on what i decide to use for hero image
    margin-top: 60px;

    @include md{
        height: 26vh;
        padding-top: 280px;
    }

    @include lg{
        height: 26vh;
    }

    @include xl{
        height: 26vh;
    }
}
