
#logo-container{
    height: 14vh;
    @include md{
        padding-bottom: 72px;
}
}


#home{

    @include md{
        padding-top: 26px;
    }

    #quote{
        text-align: center;
        color: var(--forestGreen);
        margin: 34px;
        @include md{
            padding-left: 200px;
            padding-right: 300px;
            padding-bottom: 100px;
        }
    }
}