// #home{
//     padding: 50px 100px 10px;
//     align-items: center;
//     padding-top: 40px;
//     padding-left: 240px;
//     padding-right: 240px;
//     @include md{
//         padding-top: 260px;
//     }

//     #quote{
//         padding-left: 240px;
//     }
// }

#logo-container{
    height: 14vh;
}


#home{

    @include md{
        padding-top: 26px;
    }

    #quote{
        text-align: center;
        color: var(--forestGreen);
        margin: 34px;
        @include md{
            padding-left: 300px;
            padding-right: 300px;
        }
    }
}