/* =============
    Footer
============= */

.footer-container{
    display: grid;
}

#footer-cci{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 22px;
    justify-content: center;
}