/* =============
    Footer
============= */

.footer-container{
    position: fixed;
    background-color: white;
    left: 0;
    bottom: 0;
    width: 92%;
    text-align: center;
    display: grid;
    padding: 22px;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
    "valid-icons footer-cci footer-sitemap";

    justify-content: space-around;

    padding-left: 24px;
    padding-right: 24px;
    
    @include md{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        // padding-top: 64px;
    }

    #valid-icons{
        grid-area: valid-icons;
        grid-column-start: 1;
    }

    #footer-cci{
        grid-area: footer-cci;
        // display: table;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        padding-top: 16px;
        grid-column-start: 2;
    }

    #footer-sitemap{
        grid-area: footer-sitemap;
        grid-column-start: 3;
    }
}

