/* =============
    Header
============= */

header{
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-areas: 
    "burger-container sitemap-container"
    "main-nav main-nav";
    padding: 14px 0 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--white);

    @include md{
        grid-template-columns: 60% auto;
        grid-template-areas: 
        "logo-container logo-container"
        "main-nav sitemap-container";
    }

    #burger-container{
        grid-area: burger-container;
        padding-left: 16px;
        display: flex;
        align-items: center;

        @include md{
            display: none;
        }

        button{
            padding: 0;
            color: var(--black);
        }
    }

    #sitemap-container{
        grid-area: sitemap-container;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 16px;
        padding-top: 0;
        padding-bottom: 8px;
    }

    #main-nav{
        grid-area: main-nav;
        @include md{
            display: block;
        }

        #last-link{
            border: none;
        }

        // see navigation scss file for styling 
    }

    #logo-container{
        display: none;

        @include md{
            display: block;
            grid-area: logo-container;
            text-align: center;
        }
    }
}

.hideMainNavAtMobile{
    display: none;
}