/* =============
    Header
============= */

header{
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-areas: 
    "burger-container contact-button-container"
    "main-nav main-nav";
    padding: 14px 0 0;
    position: absolute;
    top: 0;
    // left: 0;
    // right: 0;
    width: 100%;
    background-color: var(--white);
    margin: auto;


    @include md{
        grid-template-columns: 40% 20% 40%;
        grid-template-areas: 
        "main-nav my-logo contact-button-container"
        // justify-content: space-evenly;
    }

    #burger-container{
        grid-area: burger-container;
        padding-left: 16px;
        display: flex;
        align-items: center;

        @include md{
            display: none;
        }

        .burger-button{
            padding: 0;
            color: var(--black);
        }
    }

    #contact-button-container{
        grid-area: contact-button-container;
        // display: flex;
        // justify-content: flex-end;
        align-items: center;
        position: absolute;
        right: 0;
        top: 0;
        padding-right: 16px;
        // padding-top: 10px;
        // padding-bottom: 8px;
        // margin-bottom: 14px;
    }

    #main-nav{
        grid-area: main-nav;
        @include md{
            display: block;
            padding-top: 80px;
        }

        #last-link{
            border: none;
        }

        // see navigation scss file for styling 
    }

    #logo-container{
        display: none;

        @include md{
            display: grid;
            grid-area: my-logo;
            text-align: center;
            margin: auto;
            padding-left: 12px;
            // padding-bottom: 72px;
        }

        #my-logo{
            height: 4vh;
            position: absolute;
            text-align: center;
        }
    }
}

.hideMainNavAtMobile{
    display: none;
}