/* =============
    Buttons
============= */

button{
    border: none;
    background-color: transparent;
}

.primary-sage-button{
    background-color: var(--sage);
    padding: 8px 24px;
    font-weight: 800;
    font-size: rem-calc(18);
    color: var(--black);
    border-radius: 23px;
    transition: 0.25s;
    cursor: pointer;

    &:hover{
        background-color: var(--black);
        color: var(--white);
    }
}