/* =============
    Buttons
============= */

button{
    border: none;
    background-color: transparent;
}

// was .primary-brown-button
#primary-contact-button{
    background-color: var(--forestGreen);
    border-color: var(--forestGreen);
    padding: 8px 24px;
    margin-right: 8px;
    font-weight: 700;
    font-size: rem-calc(18);
    color: var(--white);
    border-radius: 23px;
    transition: 0.25s;
    cursor: pointer;

    &:hover{
        background-color: var(--sage);
        color: var(--white);
    }
}

#my-logo{
    cursor: pointer;
}

#burger-button{
    transition: 0.25s;
    cursor: pointer;
}

#send-button{
    transition: 0.25s;
    cursor: pointer;
    background-color: var(--forestGreen);
    color: var(--white);

    &:hover{
        background-color: var(--black);
        color: var(--tan);
    }
}

#sitemap-btn{
    transition: 0.25s;
    cursor: pointer;
    // background-color: var(--forestGreen);
    // color: var(--white);
    border-radius: 6%;
    color: var(--forestGreen);
    border: 1px solid var(--forestGreen);

    &:hover{
        background-color: var(--forestGreen);
        color: var(--white);
    }
}

#resume-button{
    border: 2px solid black;
    transition: 0.25s;
    cursor: pointer;

    &:hover{
        background-color: var(--forestGreen);
        color: var(--cream);
    }

    @include md{
        margin-top: 20px;
    }
}