/* =============
    Navigation
============= */

a:link, a:visited{
    text-decoration: none;
    transition: 0.25s;
}

#main-nav{
    background-color: var(--forestGreen);
    color: var(--white);
    padding: 24px 16px 14px;

    @include md{
        background-color: var(--white);
        padding-bottom: 16px;
    }

    ul{
        @include md{
            display: flex;
            align-items: center;
        }

        li{
            // border: 1px solid red;

            @include md{
                border-right: 2px solid black;
            }

            a:link, a:visited{
                font-size: rem-calc(24);
                padding: 16px 0;
                display: inline-block;
                color: var(--white);

                @include md{
                    padding: 0 8px;
                    font-weight: 600;
                    font-size: rem-calc(18);
                    color: var(--forestGreen);
                }

                &:hover, &:active{
                    color: var(--sage);
                }

            }
            #last-link{
                border: none;
            }
        }
    
    }
}

.hideMainNavAtMobile{
    display: none;

    @include md{
        display: block;
    }
}

#last-link{
    justify-content: flex-end;
}
