/* =============
    Navigation
============= */

a:link, a:visited{
    text-decoration: none;
    transition: 0.25s;
}

#main-nav{
    background-color: var(--sage);
    padding: 24px 16px;
    margin-top: 16px;

    @include md{
        background-color: var(--white);
        margin-top: 0;
    }

    ul{
        @include md{
            display: flex;
            align-items: center;
        }

        li{
            // border: 1px solid red;
            a:link, a:visited{
                font-size: rem-calc(24);
                padding: 16px 0;
                display: inline-block;
                color: var(--black);

                @include md{
                    font-size: rem-calc(18);
                }
                &:hover, &:active{
                    color: var(--sage);
                }
            }
        }

        #last-link{
            border: none;
        }
    }
}