/* =============
    Navigation
============= */

a:link, a:visited{
    text-decoration: none;
    transition: 0.25s;
}

#main-nav{
    background-color: var(--sage);
    padding: 24px 16px;
    margin-top: 16px;

    ul{
        li{
            a:link, a:visted{
                font-size: rem-calc(24);
                padding: 16px 0;
                display: inline-block;
                color: var(--black);
            }
        }
    }
}