/* =============
    Base
============= */

html{
    scroll-behavior: smooth;
}

ul{
    padding: 0;
    margin: 0;

    li{
        list-style: none;
    }
}

#logo-container{
    height: 14vh;
}

.burger-button{
    transition: 0.25s;
    cursor: pointer;
}